<%- include('header') -%>

<div class="p-md-5 container align-items-center" style="width: 50%;">
    <div class="row">
        <div class="mb-3 col-12 text-center">
            <h3> Search a movie to read or give review </h3>
        </div>
        <!-- Search Form -->
        <div class="col-12">
            <form action="/results" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" placeholder="Type a movie name">
                    <button class="btn btn-outline-primary btn-md" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Trending -->
<div class="container">
    <h2 class="py-4" style="text-decoration: underline">Trending</h2>
    <div class="row">
        <% trend.forEach((movie)=>{ %>
            <div class="col-sm-6 col-md-3 mb-3">
                <div class="effect">
                    <img src="<%= movie.image %>" alt="img" class="img-thumbnail">
                    <div class="py-3 caption"><%= movie.title %></div>
                    <div class="plot"><%= movie.plot %></div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<!-- Recommended -->
<div class="container">
    <h2 class="py-4" style="text-decoration: underline">Recommended By US</h2>
    <div class="row">
        <% recommend.forEach((movie)=>{ %>
            <div class="col-sm-6 col-md-3 mb-3">
                <div class="effect">
                    <img src="<%= movie.image %>" alt="img" class="img-thumbnail">
                    <div class="py-3 caption"><%= movie.title %></div>
                    <div class="plot"><%= movie.plot %></div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('footer') -%>