<h1>This is the Result Page</h1>

<a href="/">Search Again!</a>

<%= JSON.stringify(data.Title) %>

 <img src="<%= data.Poster %>" alt="Poster"> 

<form method="POST" onsubmit="return doComment(this);">
   
    <input type="hidden" name="post_id" value="<%= data.imdbID %>"/>
    <div class="form-group">
        <input class="form-control" name="username">
    </div>
    <div class="form-group">
        <textarea class="form-control" name="comment" rows="3"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
<!-- onsubmit="return doComment(this);" -->
<script>
    function doComment(form){
        $.ajax({
            url:"/do-comment",
            method:"POST",
            data:{username:form.username.value,comment:form.comment.value,post_id:form.post_id.value},
            success:function(response){
                alert(response)
            }
        });
        return false;
    }
</script>

<% if(data.comment) { %>
<% data.comment.forEach(function(cooment){ %>
    <%= comment.username %>
    <%= comment.comment %>
   <% }) %>

<% } %>